---
title: 'Writing'
tags: ['intro','page', 'posts']
collection: pages
featured: true
---


p: i I post on Medium now. You can find me at <a href='https://medium.com/@devonmarisa'>@devonmarisa</a>.

hr

each p in getCollection('published_posts').toJSON()
  include ../../partials/_headline

