---
title: 'Resume'
tags: ['intro','page']
collection: pages
---

h1 #{document.title}
p This page is under construction. Sorry!

.circle
	img(src='https://scontent-a-pao.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10624925_10152355110703443_8470920206731569812_n.jpg?oh=b07b63c7d77ff1ae92838e9abcbf3d60&oe=549B0314')