@include font-face("DINComp", font-files("../fonts/DINComp-Light.ttf", "./../../fonts/DINComp.woff"));

/* -----------
 * HEADINGS */

h1, h2, h3, h4, h5, .time {
	font-family: "DINComp", sans-serif;
}

h1 {
	font-size: 3.2em;
	font-weight: 700;
}

h3 {
	font-size: 1.4em !important;
}

.time {
	color: #777;
	font-weight: 100;
	font-style: italic;
	font-size: .7em;
	margin-top: -2em;
}



/* -----------
 * NAVIGATION */

nav {
	font-family: 'DINComp', sans-serif;
	text-transform: uppercase;
	
	.navbar-brand {
		text-transform: none;
	}
}



/* -----------
 * BODY & PARAGRAPHS */
 
body {
	font: 14px "Helvetica Neue", sans-serif;
	font-weight: "thin";
}
