---
title: "Workflow optimizations & customizations"
author: "Devon Zuegel"
tags: []
highlight: true
collection: posts
date: "March 20 2015"
img: "https://s-media-cache-ak0.pinimg.com/originals/e6/7d/6f/e67d6f8cb1fc7e07205b832ad25180f7.jpg"
---

include ./partials/_workflow-intro.html.md

each p in getCollection('posts').findAll({workflow: true}).toJSON()
  include ../../partials/_headline

include ./partials/_workflow-tools-i-recommend.html.md