@import '/base/variables';
@import '/base/typography';
@import '/base/mixins';

@import '/includes/nav';

body {
	overflow-y: scroll;
	font: Helvetica 14px;
	font-weight: 200;
}

#content {
	max-width: @width-1;
	margin: auto;
	padding: 40px @padding-1;
}

.circle {
	height: 150px;
	width: 150px;
	.border-radius(150px);
	overflow: hidden;

	img {
		max-height: 150px;
	}
}

#content {
	#main-content {
		@media (min-width: 992px) {
			padding-right: 25px;
		}
	}

	#side-bar {
		padding: 0px 25px;

		@media (min-width: 992px) {
			border-left: 1px solid #eee;
		}

		@media (max-width: 992px) {
			margin-top: 30px;
			border-top: 1px solid #eee;
		}
	}
}