---
layout: default
title: 'Home'
---

style.
  div.columns {
    column-width: 300px;
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
  }
  div.keeptogether {
    display: inline-block;
    width: 100%;
  }


div(class='page-content')
  .jumbotron
    h1 Hi, I'm Devon.
    p I am a student, programmer, &amp; writer.

  .col-xs-6
    //- Oakland & Onyx
    img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/561792_10151004496933443_1310086053_n.jpg?oh=39ecfda673342c6d179f7bea0e27e8e5&oe=54C408F2')

    //- With Dad at Big Kahuna
    img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xfa1/t31.0-8/10608683_10152371135483443_1241311706794917289_o.jpg')

    //- Lake Lopez March Triathlon Series 2013
    img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/5592_10151356519633443_643856965_n.jpg?oh=b3e2f06c607d34ff929f9676dac17118&oe=54C23B17')
  .col-xs-6.justify
    p Hello! My name is Devon. I am a junior studying Computer Science at Stanford University. In my free time, I follow the news, discuss the role of government with friends, peruse Reddit &amp; imgur, hike with my dogs, &amp; train for triathlons.

    p I'm interested in programming, CS education, economics, and design, and I am always seeking out opportunities to apply the skills I have learned in school to real world challenges.

    p I am a section leader for Stanford's introductory programming classes, CS 106A and 106B, in which I teach Java and C++ to students with little to no prior coding experience. I really enjoy teaching computer science, because it's a skill that is only becoming more important as time goes on, and yet it's not something that many people are exposed to in high school or even college. It's very rewarding to see my students progress. Teaching has also given me an even better understanding of the fundamentals of CS and an ability to communicate with people about technical problems.

    p I'm also formerly the Editor in Chief of <i>The Stanford Review</i>, a bi-weekly libertarian paper that publishes investigative news and opinions articles. Some of my favorite subjects to think &amp; write about are healthcare reform, the interplay between privacy &amp; technology, tax policy, and the Second Amendment.

    p
