---
layout: default
title: 'Home'
---

style.
  div.columns {
    column-width: 300px;
    -moz-column-width: 300px;
    -webkit-column-width: 300px;
  }
  div.keeptogether {
    display: inline-block;
    width: 100%;
  }


div(class='page-content')
  .jumbotron
    h1 Hi, I'm Devon.
    p I am a student, programmer, &amp; writer.

  .col-sm-12

    //- GENERAL

    p Hello! My name is Devon. I am a junior studying Computer Science at <a href='stanford.edu'>Stanford University</a>. In my free time, I discuss the role of government with friends, consider the  peruse Reddit &amp; imgur, hike with my dogs, &amp; train for triathlons.

    p I'm interested in programming, artificial intelligence, economics, and design, and I am always seeking out opportunities to apply the skills I have learned in school to real world challenges.

    p I am a section leader for Stanford's introductory programming classes, CS 106A and 106B, in which I teach Java and C++ to students with little to no prior coding experience. As someone who came into college with no prior exposure to programming, it's particular rewarding to see my students progress because I remember being in their position only a few years ago and know firsthand how much a little push from supportive friends can propel someone forward into the world of computer science. Teaching has also given me an even better understanding of the fundamentals of CS and an ability to communicate with people about technical problems.

    p I'm also formerly the Editor in Chief of <a href='http://stanfordreview.org/'><i>The Stanford Review</i></a>, a bi-weekly contrarian paper that publishes investigative news and opinions articles. Some of my favorite subjects to think &amp; write about are healthcare reform, the interplay between privacy &amp; technology, tax policy, rationality, artificial intelligence, and the Second Amendment.


    //- PROJECTS

    h2 Projects

    h3 Octagon
    .time Summer 2014

    br

    p This past summer, I designed and built an app called Octagon, a tool for venture capital firms. Octagon helps VCs better manage relationships with portfolio companies by visualizing important metrics about company growth and providing a repository for financial documents and quarterly updates. It also facilitates interaction between investors and board members and the startups in their portfolios in an analogous manner to CRM software. Octagon is currently in beta testing at Formation|8.

    p I was responsible for the full-stack of the app, though I was lucky enough for the last few weeks of the project to work with a friend named Zack who helped me immensely with the front-end, especially user interaction and fully utilizing the capabilities of our graphing libraries. You can find the open source code for the project on Github <a href='github.com/devonzuegel/octagon'>github.com/devonzuegel/octagon</a>.

    h3 Paper Trail
    .time March 2014 - present

    br

    p Some of the greatest impact individuals can have on politics is driven by daily purchasing decisions. Any time an individual patronizes a corporation, (s)he is fueling the company's lobbying and donorship capabilities and is indirectly supporting their political causes. Unfortunately, the impact of corporate political contributions is largely opaque to the general public, and the research about corporations’ political activity is a tedious, complex task.
    
    p In early 2014, I set out to solve this problem with a project called Paper Trail. The web app provides users access to political profiles of companies and manufacturers. Visualizations and statistics about companies political contributions and lobbying behavior help consumers make informed choices about where their money is going. In turn, consumers' more thoughtful choices empower those corporations that represent their values.
    
    p Paper Trail was the first programming project that I pursued outside of class and has evolved significantly since I first implemented it in early 2014. It began as a simple HTML/Javascript app into which users could query the names of companies and learn about their political contributions. You can find this initial prototype <a href='stanford.edu/~devonz/paper_trail/about.html'>here</a> and the open source code base <a href='github.com/devonzuegel/WWW/tree/master/paper_trail'>on Github</a>.
    
    p Last month, I decided to completely refactor and improve upon Paper Trail with the help of a few friends. We realized that it was unlikely that users would consistently use the app alongside real-life spending, because it would require the tedious process of pulling their phone out of their pocket, typing in the company name, and analyzing the results. We had to find a way to integrate Paper Trail more seamlessly into the users' existing workflow.
    
    p We decided that a browser extension would be far more effective than the original idea of a standalone website. Our extension lies on top of Amazon and automatically alerts users of the political activities of the manufacturers of the items in the user's cart. Beyond solving the problem of relying on users to take action, our new strategy also narrowed our focus to a single site — Amazon — and its users. This had the benefit of leveraging our own experience as Amazon customers, using Amazon's fantastic API, and generally focusing our energy on specific goals rather than broad ones. 
    
    p The Paper Trail extension is currently under development. You can find an rough interactive prototype <a href='invis.io/SZ1M1F6AJ'>on Invision</a> and the open source code for the actual extension on Github <a href='github.com/devonzuegel/papertrail-extension'>github.com/devonzuegel/papertrail-extension</a>.

    .col-sm-6
      //- Oakland & Onyx
      img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xap1/v/t1.0-9/561792_10151004496933443_1310086053_n.jpg?oh=39ecfda673342c6d179f7bea0e27e8e5&oe=54C408F2')

      //- With Dad at Big Kahuna
      img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xfa1/t31.0-8/10608683_10152371135483443_1241311706794917289_o.jpg')

    .col-md-6
      //- Lake Lopez March Triathlon Series 2013
      img(src='//scontent-2.2914.fna.fbcdn.net/hphotos-xpa1/v/t1.0-9/5592_10151356519633443_643856965_n.jpg?oh=b3e2f06c607d34ff929f9676dac17118&oe=54C23B17')
