---
layout: default
title: 'Home'
---

div.page-content
  .jumbotron
    h1 Hi, I'm Devon.
    p I am a student, programmer, &amp; writer.

  .col-sm-12

    //- GENERAL

    p Hello! My name is Devon. I am a junior studying Computer Science with an emphasis on Artificial Intelligence and decision theory at <a href='stanford.edu'>Stanford University</a>. In my free time, I read weird blogs, complete miscellaneous internet tutorials, hike with my dogs, &amp; train for triathlons.

    h2 Navigation
    a(href='#professional')  Work &amp; Professional
    br
    a(href='#interests')     Interests
    br
    a(href='#media')       Books, podcasts, &amp; blogs that I like
    br


    a(name='professional').anchor
    h2 Work &amp; Professional

    h3 Section Leading

    p I am a section leader for Stanford's introductory programming classes, CS 106A and 106B, in which I teach Java and C++ to students with little to no prior coding experience. As someone who came into college with no prior exposure to programming, it's particular rewarding to see my students progress because I remember being in their position only a few years ago and know firsthand how much a little push from supportive friends can propel someone forward into the world of computer science. Teaching has also given me an even better understanding of the fundamentals of CS and an ability to communicate with people about technical problems.

    h3 The Stanford Review

    p I'm also formerly the Editor in Chief of <a href='http://stanfordreview.org/'><i>The Stanford Review</i></a>, a bi-weekly contrarian paper that publishes investigative news and opinions articles. Some of my favorite subjects to think &amp; write about are healthcare reform, the interplay between privacy &amp; technology, tax policy, rationality, artificial intelligence, and the Second Amendment.

    a(name='interests')
    h2 Interests

      //- p Synthetic biology, geo-engineering, Transhumanism ... "Playing God"

      //- ul
      //-   li Bio fuels
      //-   li Transhumanism -- humanity is a "work in progress"
      //-   li existing approaches primarily use what nature has given us
      //-   li models are useful abstractions, but things aren't inherently discrete in that way

      //- p Cybernetics

    a(name='media').anchor

    h2 Books, podcasts, &amp; blogs that I like
    
    p Recently I've shifted away from just reading text (paper or otherwise), as I'm always trying to optimize my time and I've discovered that it's easy to find time to listen to podcasts and audiobooks throughout my day while I'm getting dressed or walking to my classes. Currently, some of my favorites include:

    ul

      li The "You Are Not So Smart" podcast, which explores self delusion, common logical fallacies, and the influence of cognitive biases on our thinking.

      li <b><i>Harry Potter &amp; the Methods of Rationality</i></b>, an alternate universe in which Harry is a child prodigy raised by scientists and "enters the wizarding world armed with Enlightenment ideals and the experimental spirit". I highly suggest the audiobook version of HPMOR, which can be found on Stitcher, among other places.

      li <b><i>The God Delusion</i></b> by Richard Dawkins, which contends that the probability that gods exist is effectively zero and that religion is "an accidental by-product – a misfiring of something useful". The argument for why one does not need religion to be moral was the most interesting section in this book to me, though I also applaud the rigor of his systematic (and at times ruthless) dissection of the religious argument.

      li Hayek's <b><i>The Road to Serfdom</i></b>, which argues that when economic power is centralized in central planning by the government, it almost inevitably results in tyrannical dictatorship and the creation of a repressive society.

      li <b><i>Cryptonomicon</i></b> by Neal Stephenson, a cyberpunk novel that follows the intertwined exploits of a cryptanalyst working alongside Alan Turing in the 1940s, a morphine-addicted marine in the Pacific Theater of World War II, and a nerdy programmer in the 1990s who creates a safe haven for data in a world where government and corporations seek to control the flow of knowledge. Think <b><i>Hitchhiker's Guide to the Galaxy</i></b> mashed up with <b><i>Godel, Escher, Bach</i></b>, and you get <b><i>Cryptonomicon</i></b>. This book manages to be extremely fun and thought-provoking at the same time.
