---
layout: default
title: 'Home'
---

div.page-content
  .jumbotron
    h1 Hi, I'm Devon.
    p I am a student, programmer, &amp; writer.

  .col-sm-7

   p Hello! My name is Devon. I am a senior studying Computer Science with a concentration in artificial intelligence at <a href='http://www.stanford.edu'>Stanford University</a>. In my free time, I read weird blogs, complete miscellaneous internet tutorials, hike with my dogs, &amp; train for triathlons. I love reasoning about, improving, and designing systems and infrastructure.

  .col-sm-5
    h2(style='margin-top:15px') Navigation
    ul.no-bullet.paragr-line-height
      li: a(href='#professional') Work &amp; Professional
      li: a(href='#interests')    Interests
      li: a(href='#media')        My favorite books, blogs, &amp; podcasts
      li: a(href='#other')        Other things that I like

  .col-sm-12

    a(name='professional').anchor
    include ./posts/partials/_work_and_professional.html.md

    a(name='interests').anchor
    include ./posts/partials/_interests.html.md

    a(name='media').anchor
    include ./posts/partials/_books_podcasts_blogs.html.md

    a(name='other').anchor
    include ./posts/partials/_other.html.md
