include ../partials/_head.jade

body
  #wrapper
    #content
      .row
        .col-sm-2
          .col-sm-12: a(href='../../').simple-nav.brand Devon Zuegel
          .col-sm-12
            .simple-nav: a(href="http://notes.devonzuegel.com") Notes
            each p in getCollection('pages').toJSON()
              .simple-nav(class=(document.url === p.url) ? 'active' : null)
                a(href=p.url) #{p.title}

        .col-sm-10
          #main-content!= content
          br

    #footer.col-lg-12: h4 Last modified on #{getLastModifiedDate()}


  != getBlock('scripts').add(site.scripts, {defer:false}).toHTML()