include ../views/includes/head

body
  //if lt IE 7
    p.browsehappy
      |You are using an 
      strong
        |outdated browser
      |. Please 
      a(href="http://browsehappy.com/")
        |upgrade your browser
      |to improve your experience.
  
  .nav: .container: ul
    each p in getCollection('posts').toJSON()
      li: a(href=p.url) #{p.title}

  #content!= content

  include ../views/includes/scripts